@import "constant";
@import "util";


@font-face {
	font-family: 'Source Han Sans';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/sanserif/SourceHanSans-Medium.eot');
	src: url('/fonts/sanserif/SourceHanSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/sanserif/SourceHanSans-Medium.woff') format('woff'),
		url('/fonts/sanserif/SourceHanSans-Medium.ttf') format('truetype');
}

html,
body {
	font-family: 'Source Han Sans', 'Roboto', sans-serif;
	font-weight: 500;
	@include for-phone-only{
		font-size: 12px;
		user-select: none;
	}

	@include for-phone-up{
		font-size: 14px;
	}

	@include for-desktop-up{
		font-size: 16px;
	}
	width: 100%;
	height: 100%;
	overflow: hidden;
}
canvas {
	display: block;
}

.state_active {
	display: block;
}

@import 'simulation';
@import 'loader';
@import 'navigation';
@import 'top';
@import 'rule';